
<div class="container m-4">
<%= link_to 'Create Appointment', new_appointment_path(@appointment)%>
<%= link_to "View Appointments", appointments_path(@appointments), class: "btn btn-primary" %>
  <h1>List of Doctors</h1>
  <table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Doctor Name</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @doctors.each_with_index do |doctor, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= doctor.try(:full_name) || "" %></td>
        <td><%= doctor.category.try(:name) || "" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
