<div class="container m-4">
  <% if @appointment.status == 'open' %>
    <%= form_with(model: @appointment) do |form| %>
      <div class="field">
        <%= form.label :recommendations %>
        <%= form.text_area :recommendations %>
      </div>
      
      <div class="actions">
        <%= form.submit 'Leave Recommendation' %>
      </div>
    <% end %>
  <% else %>
    <p>Recommendations: <%= @appointment.recommendations %></p>
  <% end %>
</div>