<div class="container m-4">
  <h1>New Appointment</h1>

<%= form_with model: @appointment, url: appointments_path, method: :post do |form| %>
  <div class="field">
    <%= form.label :doctor_id %>
    <%= form.collection_select :doctor_id, @doctors, :id, :full_name, prompt: "Select a doctor" %>
  </div>

  <% if current_user&.patient? %>
    <%= form.hidden_field :patient_id, value: current_user.id %>
  <% else %>
    <div class="field">
      <%= form.label :patient_id %>
      <%= form.collection_select :patient_id, @patients, :id, :full_name, prompt: "Select a patient" %>
    </div>
  <% end %>

  <% unless current_user.patient? %>
    <div class="field">
      <%= form.label :recommendations %>
      <%= form.text_area :recommendations %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Create Appointment" %>
  </div>
<% end %>
</div>